#Invite-btn{
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  table td, table th {
    padding: 10px 10px;
  }
  table th{
    font-size: medium;
  }
  .container{
    max-width: 100%;
    margin: 0 auto;
  }
 
.filter{
  width: 200px;
  margin-top: 0px;
float:right;
margin-right: 30px;
margin-top: 0px;
}
button{
  padding: auto;
}
#csv{
  float: right;
}